<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "//-mybatis.org/DTDMapper3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.efgdraw.reactboardserver.mapper.YoutubeMapper">

	<select id="fetchMovies" resultType="spring.efgdraw.reactboardserver.vo.YoutubeVO">
		SELECT id,
		       video_id_videoId,
		       video_snippet_title,
		       video_snippet_description,
		       save_date
		  FROM favorite_list
		 ORDER BY id
	</select>
	
	<insert id="addMovie" 
			parameterType="spring.efgdraw.reactboardserver.vo.YoutubeVO">
		INSERT INTO favorite_list
			   (video_id_videoId, video_snippet_title,
			    video_snippet_description, save_date)
		VALUES
			   (#{video_id_videoId}, #{video_snippet_title},
			    #{video_snippet_description}, NOW())
	</insert>
	
	<delete id="removeMovie" parameterType="Long">
	DELETE FROM favorite_list
	 WHERE id = #{id};
	</delete>
	
</mapper>